.Header {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  align-items: center;
  width: 90%;
}

.Header img {
  max-width: 30%;
}
.motion-words {
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 9px;
  border: 0px solid rgba(255, 0, 0, 0);
  background-color: rgb(226, 226, 226);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-right: 1rem;
}

.motion-words:hover {
  transform: scale(1.1);
}

.Header-div span {
  font-size: 1.6rem;
}
