.Home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 1rem;
  max-width: 90%;
  gap: 2rem;
  font-family: 'Times New Roman', Times, serif;
  margin: 1rem 0rem 2rem 0px;
  flex-wrap: wrap;
  text-align: center;
}

.imagens {
  width: 30%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagens button {
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.2rem;
  transition: 0.3s ease-in-out;
}

.imagens button:hover {
  border: 2px solid #9c27b0;
  padding: 0.2rem;
}

.Home img {
  border-radius: 10px;
  max-width: 60%;
  transition: 0.5s ease-out;
}

.Home img:hover {
  transform: scale(1.04);
}

/* --------------------- */

@media (max-width: 852px) {
  .Home {
    justify-content: space-around;
    flex-wrap: no-wrap;
    gap: 3rem;
  }
  .imagens {
    width: 40%;
  }
  .Home img {
    min-width: 100%;
  }
}
