.Produto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 1rem;
  max-width: 90%;
  gap: 2rem;
  font-family: 'Times New Roman', Times, serif;
  margin: 1rem 0rem 2rem 0px;
  flex-wrap: wrap;
}
.Produto-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.Produto-img img {
  max-width: 30%;
  border-radius: 12px;
  transition: 0.4s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.Produto-img img:hover {
  transform: scale(1.06);
}

.Produto-descr {
  margin: 2rem 0px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  font-size: 1.2rem;
}

@media (max-width: 852px) {
  .Produto-descr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/* === loader ========*/

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: '';
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #9c27b0 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
