@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
body {
  font-family: 'Fira Sans', Arial, sans-serif;
  background: rgb(59, 48, 255);
  background: linear-gradient(
    124deg,
    rgba(59, 48, 255, 1) 0%,
    rgba(117, 0, 113, 1) 100%
  );
}

.App-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (max-width: 900px) {
  .App-container {
    flex-direction: column;
  }
}

ol,
ul,
h1,
h2,
h3,
p,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

strong {
  color: black;
}
