.Global-container {
  width: 50%;
  height: 880px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  border-radius: 12px;
  margin: 10px 2px;
  background: rgb(2, 0, 36);
  color: #ffffff;
  gap: 1.4rem;
}

.Footer-container {
  width: 20%;
  height: 880px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  border-radius: 12px;
  margin: 10px 2px;
  background: rgb(2, 0, 36);
  color: #ffffff;
  gap: 1.4rem;
}

.Interface-container {
  width: 20%;
  height: 880px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  border-radius: 12px;
  margin: 10px 2px;
  background: rgb(2, 0, 36);
  color: #ffffff;
  gap: 1.4rem;
}

@media (max-width: 900px) {
  .Footer-container {
    width: 80%;
  }
  .Global-container {
    width: 80%;
  }
  .Interface-container {
    width: 80%;
  }
}
