@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Poppins:wght@300&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  background-image: url('https://images.pexels.com/photos/50594/sea-bay-waterfront-beach-50594.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.App-container {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 3rem;
  gap: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.App-sup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.App-Form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Radio-container {
  width: 120%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Radio-legend {
  margin-bottom: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.623);
}

.Radio-div {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 93%;
}

.Radio-label {
  width: 90px;
  margin: 0.4rem 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
}
.App-emoji {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-Button-1 {
  width: 90%;
  display: flex;
  justify-content: center;
}

/* BUTTON EFFECT SITE: UIVERSE.IO*/

.App-Button {
  width: 4.5em;
  height: 1.9em;
  margin: 0.5em;
  background: #627cf0;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s ease-in;
  box-shadow: #627cf09a 0px 13px 27px -5px, #627cf0b7 0px 8px 16px -8px;
}

.App-Button:hover {
  color: black;
  transform: scale(1.1);
}

.App-Button:after {
  content: '';
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.App-Button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

ol,
ul,
h1,
h2,
h3,
p,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

strong {
  color: black;
}
